@font-face {
  font-family: 'Arial';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'malina';
  src: url('../../fonts/malina-webfont') format('woff'),
  url('../../fonts/malina-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}