.icon--form{
  display: flex;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: lighten($main-color, 10%);
}

.icon{
  margin: 0 0 40px 0;

}

.icon-cap{
  @include sprite($icon-cap)
}
.icon-list{
  @include sprite($icon-list)
}
.icon-heart{
  @include sprite($icon-heart)
}