.icon--form{
  display: flex;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: lighten($main-color, 10%);
}

.icon{
  margin: 0 0 40px 0;

}

.icon-cap{
  @include sprite($icon-cap)
}
.icon-list{
  @include sprite($icon-list)
}
.icon-heart{
  @include sprite($icon-heart)
}
.icon-cake{
  @include sprite($cake)
}
.icon-biscuit{
  @include sprite($biscuit)
}
.icon-donut{
  @include sprite($donut)
}
.icon-roll{
  @include sprite($roll)
}
.icon-marshmallows{
  @include sprite($marshmallows)
}
.icon-chocolate{
  @include sprite($chocolate)
}
.icon-capcake{
  @include sprite($capcake)
}
.icon-candy{
  @include sprite($candy)
}

