// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$biscuit-name: 'biscuit';
$biscuit-x: 178px;
$biscuit-y: 0px;
$biscuit-offset-x: -178px;
$biscuit-offset-y: 0px;
$biscuit-width: 215px;
$biscuit-height: 180px;
$biscuit-total-width: 778px;
$biscuit-total-height: 604px;
$biscuit-image: '../images/sprite.png';
$biscuit: (178px, 0px, -178px, 0px, 215px, 180px, 778px, 604px, '../images/sprite.png', 'biscuit', );
$cake-name: 'cake';
$cake-x: 0px;
$cake-y: 0px;
$cake-offset-x: 0px;
$cake-offset-y: 0px;
$cake-width: 178px;
$cake-height: 244px;
$cake-total-width: 778px;
$cake-total-height: 604px;
$cake-image: '../images/sprite.png';
$cake: (0px, 0px, 0px, 0px, 178px, 244px, 778px, 604px, '../images/sprite.png', 'cake', );
$candy-name: 'candy';
$candy-x: 393px;
$candy-y: 0px;
$candy-offset-x: -393px;
$candy-offset-y: 0px;
$candy-width: 205px;
$candy-height: 180px;
$candy-total-width: 778px;
$candy-total-height: 604px;
$candy-image: '../images/sprite.png';
$candy: (393px, 0px, -393px, 0px, 205px, 180px, 778px, 604px, '../images/sprite.png', 'candy', );
$capcake-name: 'capcake';
$capcake-x: 598px;
$capcake-y: 0px;
$capcake-offset-x: -598px;
$capcake-offset-y: 0px;
$capcake-width: 180px;
$capcake-height: 192px;
$capcake-total-width: 778px;
$capcake-total-height: 604px;
$capcake-image: '../images/sprite.png';
$capcake: (598px, 0px, -598px, 0px, 180px, 192px, 778px, 604px, '../images/sprite.png', 'capcake', );
$chocolate-name: 'chocolate';
$chocolate-x: 202px;
$chocolate-y: 244px;
$chocolate-offset-x: -202px;
$chocolate-offset-y: -244px;
$chocolate-width: 197px;
$chocolate-height: 180px;
$chocolate-total-width: 778px;
$chocolate-total-height: 604px;
$chocolate-image: '../images/sprite.png';
$chocolate: (202px, 244px, -202px, -244px, 197px, 180px, 778px, 604px, '../images/sprite.png', 'chocolate', );
$donut-name: 'donut';
$donut-x: 0px;
$donut-y: 424px;
$donut-offset-x: 0px;
$donut-offset-y: -424px;
$donut-width: 186px;
$donut-height: 180px;
$donut-total-width: 778px;
$donut-total-height: 604px;
$donut-image: '../images/sprite.png';
$donut: (0px, 424px, 0px, -424px, 186px, 180px, 778px, 604px, '../images/sprite.png', 'donut', );
$icon-cap-name: 'icon-cap';
$icon-cap-x: 598px;
$icon-cap-y: 282px;
$icon-cap-offset-x: -598px;
$icon-cap-offset-y: -282px;
$icon-cap-width: 106px;
$icon-cap-height: 90px;
$icon-cap-total-width: 778px;
$icon-cap-total-height: 604px;
$icon-cap-image: '../images/sprite.png';
$icon-cap: (598px, 282px, -598px, -282px, 106px, 90px, 778px, 604px, '../images/sprite.png', 'icon-cap', );
$icon-heart-name: 'icon-heart';
$icon-heart-x: 186px;
$icon-heart-y: 424px;
$icon-heart-offset-x: -186px;
$icon-heart-offset-y: -424px;
$icon-heart-width: 96px;
$icon-heart-height: 90px;
$icon-heart-total-width: 778px;
$icon-heart-total-height: 604px;
$icon-heart-image: '../images/sprite.png';
$icon-heart: (186px, 424px, -186px, -424px, 96px, 90px, 778px, 604px, '../images/sprite.png', 'icon-heart', );
$icon-list-name: 'icon-list';
$icon-list-x: 598px;
$icon-list-y: 192px;
$icon-list-offset-x: -598px;
$icon-list-offset-y: -192px;
$icon-list-width: 118px;
$icon-list-height: 90px;
$icon-list-total-width: 778px;
$icon-list-total-height: 604px;
$icon-list-image: '../images/sprite.png';
$icon-list: (598px, 192px, -598px, -192px, 118px, 90px, 778px, 604px, '../images/sprite.png', 'icon-list', );
$marshmallows-name: 'marshmallows';
$marshmallows-x: 399px;
$marshmallows-y: 244px;
$marshmallows-offset-x: -399px;
$marshmallows-offset-y: -244px;
$marshmallows-width: 190px;
$marshmallows-height: 180px;
$marshmallows-total-width: 778px;
$marshmallows-total-height: 604px;
$marshmallows-image: '../images/sprite.png';
$marshmallows: (399px, 244px, -399px, -244px, 190px, 180px, 778px, 604px, '../images/sprite.png', 'marshmallows', );
$roll-name: 'roll';
$roll-x: 0px;
$roll-y: 244px;
$roll-offset-x: 0px;
$roll-offset-y: -244px;
$roll-width: 202px;
$roll-height: 180px;
$roll-total-width: 778px;
$roll-total-height: 604px;
$roll-image: '../images/sprite.png';
$roll: (0px, 244px, 0px, -244px, 202px, 180px, 778px, 604px, '../images/sprite.png', 'roll', );
$spritesheet-width: 778px;
$spritesheet-height: 604px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($biscuit, $cake, $candy, $capcake, $chocolate, $donut, $icon-cap, $icon-heart, $icon-list, $marshmallows, $roll, );
$spritesheet: (778px, 604px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
