.header{
  background: $main-color url("../images/bg_hero.jpg") center/cover no-repeat;


  &__top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__icon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .icon--form{
      margin-left: 25px;
    }
  }
}

.logo__picture{
  padding: 25px 0 25px 0;
}

.user__icon,.search__icon{
  margin: auto;
}