.team {
  background: #dcdcdd url("../images/bg_team.jpg") center/cover no-repeat;
  padding-top: 85px;
  padding-bottom: 117px;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #2b2f60;
    margin-bottom: 110px;

    &--title {
      width: 31%;
      margin-right: 0px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 65%;
    font-size: 1.875rem;
    font-family: $ff-malina;
    padding: 0;
  }

  &__link{
    text-decoration: none;
  }

  &__item {
    width: 33%;
    padding: 10px 19px 35px 28px;
    position: relative;
  }

  &__profession {
    font-family: Arial;
    font-size: 1rem;
    color: #8d8d8d;

  }

  &__name{
    color: #2b2f60;
  }



  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  &__resume{
    width: 25%;
    &--second {
      width: 32%;
    }
  }

  &__resume,.team__resume--second {
    font-size: 0.875rem;
    font-style: italic;
    overflow: hidden;
    height: 497px;
    color: #747474;

    &--bold {
      color: #747474;
      font-weight: bold;
      margin-top: 32px;
    }

    &--p {
      margin-top: 30px;
    }
  }

  &__cook {
    width: 40%;
    position: relative;
    top: -88px;
    &__picture {
      width: 100%;
    }
  }
}
.active {
  width: 33%;
  padding: 10px 19px 35px 28px;
  background: #893213;
  border-radius: 30px;
  color: #ffa92b;


  &::before {
    content: '';
    border: 30px solid transparent;
    border-top: 17px solid #893213;
    position: absolute;
    top: 146px;
    left: 74px;
    position: absolute;
  }

  .team__profession {
    color: #fff;
  }

  .team__name{
    color: #ffa92b;
  }

}


