section.delivery
    .container
        .delivery__info
            .title.title__hero.delivery__title Мы поставляем
            .title__description.delivery__text.
                Также мы делаем выпечку под заказ для различных праздников и банкетов. Заказать индивидуальную выпечку
                вы можете заполнив <a href="#">форму</a>. После с Вами свяжется один из наших поваров и обсудит заказ более детально.
        ul.delivery__list
            li.delivery__item
                .icon.icon-cake--up.icon-cake
                .title.title__hero.item__title Торты
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-biscuit
                .title.title__hero.item__title Печенье
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-donut
                .title.title__hero.item__title Пончики
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-roll
                .title.title__hero.item__title Рулеты
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
        ul.delivery__list
            li.delivery__item
                .icon.icon-marshmallows
                .title.title__hero.item__title Зефир
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-chocolate
                .title.title__hero.item__title Шоколад
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-capcake--up.icon-capcake
                .title.title__hero.item__title Пироженное
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами
            li.delivery__item
                .icon.icon-candy
                .title.title__hero.item__title Конфеты
                .title__description.item__text.
                    Десерт, состоящий из одного или нескольких коржей,
                     пропитанных кремом или джемом. Сверху торт обычно
                     украшают кремом, глазурью или фруктами