section.faq
    .container
        .faq__header
            .title.title__hero.faq__title Часто задаваемые вопросы
        ol.faq__list
            li.faq__item
                .faq__item--name Сколько по времени курьер доставляет заказ
                .faq__item--desc
                    | В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную
                    | и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная
                    | курьерская служба, называвшаяся cursus publicus. В допетровской России рассыльные (гонцы) были служилыми
                    | людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была
                    | основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых
                    | посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века),
                    | а доставляющих дипломатическую почту — дипкурьерами.
            li.faq__item
                .faq__item--name Если курьер опоздал, будут ли какие то бонусы?
                .faq__item--desc
                    | В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную
                    | и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная
                    | курьерская служба, называвшаяся cursus publicus. В допетровской России рассыльные (гонцы) были служилыми
                    | людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была
                    | основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых
                    | посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века),
                    | а доставляющих дипломатическую почту — дипкурьерами.
            li.faq__item
                .faq__item--name Добавляете ли вы какие либо консерванты в вашу продукцию?
                .faq__item--desc
                    | В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную
                    | и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная
                    | курьерская служба, называвшаяся cursus publicus. В допетровской России рассыльные (гонцы) были служилыми
                    | людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была
                    | основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых
                    | посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века),
                    | а доставляющих дипломатическую почту — дипкурьерами.
            li.faq__item
                .faq__item--name Как долго готовиться у вас индивидуальный торт?
                .faq__item--desc
                    | В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную
                    | и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная
                    | курьерская служба, называвшаяся cursus publicus. В допетровской России рассыльные (гонцы) были служилыми
                    | людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была
                    | основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых
                    | посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века),
                    | а доставляющих дипломатическую почту — дипкурьерами.