section.footer
    .container
        .footer__cover
            .footer__left
                .logo.footer__logo: img.logo__picture(src='images/logo.png' alt='picture')
            .footer__right
                .footer__copyright © 2016 Все права защищены.
                .footer__adress г. Москва, Вознесенский проспект 44 оф 166
            include social