header.header
    .container
        .header__top
            .logo: img.logo__picture(src='images/logo.png' alt='picture')
            include nav
            .header__icon
                .header__icon--form
                    i.fa.fa-user.user__icon
                .header__icon--form
                    i.fa.fa-search.search__icon