section.hero
    .container
        .hero__content
            .hero__specifications
                .hero__ingredients
                    .icon--form
                        .blender: img.blender__picture(src='images/blender.png' alt='picture')
                    .hero__ingredients--desc Ингредиенты
                .hero__safe
                    .hero__safe--title Срок хранения
                    .hero__safe--time 120 часов
            .hero__cake
                img.cake__picture(src='images/cake.png' alt='picture')
            .hero__buy
                .hero__buy--description
                    h1.title.title__hero Sweet Cupcake
                    .title__description.
                        В основе пирожного Sweet Cupcake выпеченный бисквит,
                        промоченный сахарным сиропом с добавлением коньяка
                        и десертного вина. Прослоено суфлейной массой,
                        смешанной с апельсиновым концентратом
                        (калоризатор). Заглазировано шоколадной глазурью
                        с нанесением сеточки из белой шоколадной глазури
                .hero__buy--checkout
                    .price 199 Р
                    .hero__button
                        a.button(href="#") Заказать
        //.hero__bg-text пирожинка