section.map
    .map__google
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31991.48381460647!2d30.32930673850012!3d59.92438048006458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630fc1775abdf%3A0xac1fface663e24a3!2z0JLQvtC30L3QtdGB0LXQvdGB0LrQuNC5INC_0YAuLCA0NCwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MDA2OA!5e0!3m2!1sru!2sru!4v1527816744252"
        width="100%" height="540" frameborder="0" style="border:0" allowfullscreen)