nav.nav

    ///Код по курсу
            // - var items = ['Сладости', 'Доставка', 'Компания', 'Команда']
            // - var dataItems = ['sweet', 'delivery', 'company', 'team']
            // each item, key in items
            //     if item === 'Сладости'
            //         a.nav__link.nav__link--active(href="#")= item
            //     else
            //         a.nav__link(href="#")= item
    /// Мой код
    ul.nav__list
        li.nav__item
            a.nav__link(href=".hero") Сладости
            a.nav__link(href=".delivery") Доставка
            a.nav__link(href=".map") Компания
            a.nav__link(href=".team") Команда