.social
    a.social__icon.fa-facebook-icon(href="facebook.com")
        i.fa.fa-facebook.facebook-icon
    a.social__icon.fa-instagram-icon(href="www.instagram.com")
        i.fa.fa-instagram.instagram-icon
    a.social__icon.fa-odnoklassniki-icon(href="ok.ru")
        i.fa.fa-odnoklassniki.odnoklassniki-icon
    a.social__icon.fa-twitter-icon(href="twitter.com")
        i.fa.fa-twitter.twitter-icon
    a.social__icon.fa-vk-icon(href="vk.com")
        i.fa.fa-vk.vk-icon

